In [12]:
import pycmtensor as cmt
from pycmtensor.models import MNL
from pycmtensor.expressions import Beta
import aesara.tensor as aet
import pandas as pd
import numpy as np
db = cmt.Data(df=pd.read_csv('dataset.txt', sep='\t'),choice='choice')

ASC_ownCar = Beta("ASC_ownCar", 0.0, None, None, 0)
ASC_PT = Beta("ASC_PT", 0.0, None, None, 0)
ASC_SAV = Beta("ASC_SAV", 0.0, None, None, 0)
ASC_carSharing = Beta("ASC_carSharing", 0.0, None, None, 0)
ASC_taxi = Beta("ASC_taxi", 0.0, None, None, 1)

U_ownCar = ASC_ownCar
U_PT = ASC_PT
U_SAV = ASC_SAV
U_carSharing = ASC_carSharing
U_taxi = ASC_taxi
U = [U_ownCar, U_PT, U_SAV, U_carSharing, U_taxi]

model = MNL(db, locals(), U, None, name="MNL")
model.config.set_hyperparameter("max_steps", 200)
model.train(db)

,Postcode,age18_24,age25_34,age35_54,age_55,genderMale,employed,selfEmployed,student,eduLower,...,distWork,usedUber,hhSize,hhChild,nbrCarHH,incLevel_30k,incLevel30_60k,incLevel60k,csMember,choice
0,3014,0,0,0,1,0,1,0,0,1,...,4,0,1,0,1,0,0,1,1,0
1,1011,0,1,0,0,0,1,0,0,1,...,4,0,1,0,1,0,0,1,1,3
2,1012,0,0,1,0,1,0,1,0,0,...,2,0,0,0,0,0,0,0,0,0
3,2544,0,0,1,0,1,1,0,0,0,...,5,0,5,2,2,0,1,0,1,0
4,3523,0,1,0,0,1,1,0,0,0,...,2,0,1,0,1,0,1,0,1,4