In [1]:
import pandas as pd

pd.read_csv("dataset.txt",sep="\t")

,Postcode,age18_24,age25_34,age35_54,age_55,genderMale,employed,selfEmployed,student,eduLower,...,distWork,usedUber,hhSize,hhChild,nbrCarHH,incLevel_30k,incLevel30_60k,incLevel60k,csMember,choice
0,3014,0,0,0,1,0,1,0,0,1,...,4,0,1,0,1,0,0,1,1,0
1,1011,0,1,0,0,0,1,0,0,1,...,4,0,1,0,1,0,0,1,1,3
2,1012,0,0,1,0,1,0,1,0,0,...,2,0,0,0,0,0,0,0,0,0
3,2544,0,0,1,0,1,1,0,0,0,...,5,0,5,2,2,0,1,0,1,0
4,3523,0,1,0,0,1,1,0,0,0,...,2,0,1,0,1,0,1,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,3581,0,1,0,0,0,0,0,1,0,...,2,0,1,0,2,1,0,0,0,2
864,2521,0,1,0,0,0,1,0,0,0,...,5,0,4,2,2,0,1,0,0,0
865,2584,0,1,0,0,0,1,0,0,0,...,4,0,1,0,2,1,0,0,0,4
866,3526,0,0,1,0,0,1,0,0,1,...,6,1,4,2,1,1,0,0,0,0
867,1012,0,1,0,0,0,1,0,0,0,...,3,0,2,0,2,0,1,0,0,3